.ct-header-wishlist {
	display: flex;
	align-items: center;

	.ct-label {
		margin-right: 8px;
		line-height: normal;
	}

	&:hover {
		.ct-icon-container {
			color: var(--icon-hover-color, var(--paletteColor2));
		}
	}
}